body {
  font-family: Montserrat,sans-serif;
}

code {
  background-color: #D9D9D9;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}

pre {
  background-color: #444c4b;
  border-radius: 5px;
  color: #e3e8e8;
  padding: 5px;
}

pre > code {
  background: transparent;  
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1, h2, h3, h4, h5, h6 {
  color: #154854;
}

blockquote {
  border-left-color: #154854;
  color: #bf6656;
}

.profile-img {
  max-width: 100px;
}

a {
  box-shadow: none !important;
}

.post-subheader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.about-wrapper {
  padding: 10px 10%;
  text-align: center;
}

.lists-wrapper {
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

@media (max-width: 500px) {
  .lists-wrapper {
    display: flex;
    flex-direction: column;
  }

  ul {
    text-align: center;
  }
}